<header class="page-header" role="banner">
    <a href="{{ site.baseurl }}/index"><h1 class="project-name">{{ site.title }}</h1></a>
    <h2 class="project-tagline">{{ site.description }}</h2>
    <!-- <a href="{{ site.baseurl }}/call" class="btn">Call for Participation</a> -->
    <a href="{{ site.baseurl }}/news" class="btn">News</a>
    <a href="{{ site.baseurl }}/history" class="btn">Workshops</a>
    <a href="{{ site.baseurl }}/contact" class="btn">Contact</a>
    <a href="{{ site.baseurl }}/references" class="btn">References</a>
</header>